{% extends 'base.html.twig' %}

{% block title %}New EventType{% endblock %}

{% block body %}
<div class="container mx-auto pt-4">
    <h1 class="text-2xl mb-4">{{ 'new_event_type_title'|trans }}</h1>

    {{ include('event_type/_form.html.twig') }}
</div>
{% endblock %}
