{% extends 'layout/full.html.twig' %}

{% block title %}{{ 'check_email_title'|trans }}{% endblock %}

{% block content %}
    <div class="text-center">
        <p class="mb-4">{{ 'check_email_description'|trans }}</p>
        <a href="{{ path('app_login') }}">{{ 'back'|trans }}</a>
    </div>

{% endblock %}
